<br/>
<br/>
<br/>
<br/>

<h1 class="h3 text-secondary">Principal Architect</h1><br/>
<p class="text-secondary justify-text">
  <strong>Ar. Vijay Kumar D</strong> – a visionary architect with a decade of experience shaping spatial narratives across public,
  private, and residential landscapes. A graduate of SPA Delhi, he is an explorer of form, function, and
  emotion—crafting spaces that transcend mere structures into living, breathing expressions of art. His expertise lies
  in seamlessly blending modern aesthetics with minimalistic philosophy, creating spaces that not only house life but
  elevate it.

</p>
