.square-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  //border-radius: 1px;
}

.square-image {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.card {
  overflow: hidden;
  border-radius: 12px;
}
.card {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease;
}
.card.highlighted {
  border: 2px solid #0d6efd;
  box-shadow: 0 0 0 4px rgba(13, 110, 253, 0.25);
  transition: box-shadow 0.3s ease, border 0.3s ease;
}
