<div class="container mt-5">
  <div class="row">
    <div
      class="col-md-4 mb-4"
      *ngFor="let project of projects"
    >
      <a [routerLink]="['/projects', project.id]" class="text-decoration-none">
        <div class="card h-100 shadow-sm">
          <img
            [src]="project.imageUrl"
            [alt]="project.title"
            class="card-img-top"
            style="object-fit: cover; height: 250px;"
          >
          <div class="card-body text-center">
            <h5 class="card-title text-secondary">{{ project.title }}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
