.custom-text {
  font-family:  'Qanelas', sans-serif;
  font-size: 20px;
}

.client-logo {
  max-height: 60px;
  opacity: 0.7;
  transition: all 0.3s ease;
  filter: grayscale(100%);
}

.client-logo:hover {
  opacity: 1;
  filter: grayscale(0%);
}
