<br/>
<br/>
<br/>
<br/>


<!--


<h1 class="h3 text-secondary">Principal Architect</h1><br/>
<p class="text-secondary">
  <strong>Ar. Vijay Kumar D</strong> – a visionary architect with a decade of experience shaping spatial narratives across public,
  private, and residential landscapes. A graduate of SPA Delhi, he is an explorer of form, function, and
  emotion—crafting spaces that transcend mere structures into living, breathing expressions of art. His expertise lies
  in seamlessly blending modern aesthetics with minimalistic philosophy, creating spaces that not only house life but
  elevate it.

</p>
-->


<h1 class="h3 text-secondary ">Firm Philosophy </h1>
<br/>
<p class="  text-secondary">
  At SIDE A, architecture is storytelling - an evolving dialogue between form and soul. We embrace minimalism, not as a
  restriction but as an art of precision, curating spaces that whisper elegance and purpose.

  <br/>
  <br/>
  Inspired by the
  transformation of nature, our designs breathe life into built environments, where simplicity meets profound beauty. We
  dream, design, and redefine, shaping a world where architecture is more than a structure - <strong>it is an experience.</strong>

</p>






<!--

<h1 class="text-secondary text-center">About Us:</h1>
<br/>
<br/>
<h6 class="h6 text-center text-secondary">
  We are a team of passionate architects and engineers with years of experience in designing and constructing
  exceptional spaces.
  From government and private projects to buildings, schools, and apartments, we bring innovation, precision, and
  creativity to every structure we create.
</h6>

<br/>
<h6 class="text-center text-secondary">
  Our commitment to excellence ensures that each project is not just built but thoughtfully crafted to stand the test of
  time.
</h6>

<br/>
<br/>
<hr/>
<br/>
<br/>
<span class="text-secondary text-center">
  <h2>Contact Us:</h2>

  <h6 class="h6">side.a.projects@gmail.com</h6>

</span>



<br/>
<br/>
<br/>
<br/>

-->


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<hr/>
<p class="text-secondary text-center">Website under development. More details and Updates coming soon!</p>
<hr/>
