<!--<h2 class="text-secondary">Side Architecture</h2>-->








<div *flipperFlag="'newDashboard'">
  🚀 Welcome to the new dashboard From Component!
</div>

<div *ngIf="isNewDashBoardEnabled()">
  🚀 Welcome to the new dashboard From Directive!
</div>


<!--<div class="container mt-4">-->
<!--  <app-home-page-carousel></app-home-page-carousel>-->

<!--</div>-->

<div class="container mt-4">
  <app-home-page-carousel></app-home-page-carousel>
</div>

<!-- Show only in mobile view (below carousel) -->
<div class="text-center mt-3 d-md-none">
  <a
    class="btn btn-outline-primary"
    [routerLink]="['/projects']"
    [queryParams]="{ category: 'featured' }"
  >
    View All Projects
  </a>
</div>
